# Environment variables
.env
.env.local
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Data
data/raw/*
!data/raw/.gitkeep
data/chroma/
data/raw/*.csv
data/raw/*.parquet

# Python / IDE / OS
.vscode/
.idea/
.ipynb_checkpoints/
*.DS_Store
Thumbs.db

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

